.btn:active {
  transform: translateY(1px);
}
.btn:focus {
   outline: none !important;
   box-shadow: none;

}

.main-container{

	width: 100%;
	height:100vh;

}

.main-input{
	width: 80vw;
}

.titles{
	text-align: center;
}

.result{

	margin-top:5vh;
	visibility: hidden;
	color: black;
}


.not-mine{

	color:red;
}

.register{
	width: 35vw;
	border-width: 1px;
	border-color: #95a5a6;
	border-style: solid;
	padding: 15px;
}

.register input{

	margin-bottom: 10px;
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
.main-input{
	width: 50vw;
}

}
